### Imports and Directory

In [1]:
import pandas as pd

In [ ]:
data_directory = '../data/'

# Demographic Health Survey Dataset

### File Locations

In [13]:
dhs_folder = data_directory + 'ndhs/ndhs-download/'
dhs_file = dhs_folder + 'PHHR71FL.DTA'
dhs_dict = dhs_folder + 'PHHR71FL.DO'

### Helper Function

In [5]:
def get_dhs_dict(dhs_dict_file):
    dhs_dict = dict()
    with open(dhs_dict_file, 'r', errors='replace') as file:
        line = file.readline()
        while line:
            line = file.readline()
            if 'label variable' in line:
                code = line.split()[2]  
                colname = ' '.join([x.strip('"') for x in line.split()[3:]])
                dhs_dict[code] = colname
    return dhs_dict

### Loading the Dataset

In [19]:
dhs = pd.read_stata(dhs_file, convert_categoricals=False)

In [24]:
dhs_dict_ = get_dhs_dict(dhs_dict)
dhs = dhs.rename(columns=dhs_dict_).dropna(axis=1)

In [25]:
print('Data Dimensions: {}'.format(dhs.shape))
dhs.head()

Data Dimensions: (27496, 339)

,Case Identification,Country code and phase,Cluster number,Household number,Respondent's line number (answering Household questionnaire),Ultimate area unit,Household sample weight (6 decimals),Month of interview,Year of interview,Date of interview (CMC),...,PhilHealth - Sponsored,PhilHealth - Lifetime members,PhilHealth - Senior citizen,PhilHealth - Overseas Filipino member,GSIS,SSS,Other private insurance /HMO/ Pre-need insurance plan,Other,NA - Bar code for HIV blood sample,NA - Bar code for HIV blood sample
0,00010001,PH7,1,1,1,1,364301,8,2017,1412,...,0,0,0,0,0,0,0,0,,
1,00010002,PH7,1,2,4,1,364301,8,2017,1412,...,0,0,1,0,1,0,0,0,,
2,00010004,PH7,1,4,2,1,364301,8,2017,1412,...,0,0,0,0,0,0,0,0,,
3,00010007,PH7,1,7,2,1,364301,8,2017,1412,...,0,0,0,0,0,0,0,0,,
4,00010008,PH7,1,8,1,1,364301,8,2017,1412,...,0,0,0,0,0,0,0,0,,

In [48]:
col_of_interest = [
    'Cluster number',
    'Wealth index factor score combined (5 decimals)',
    'Education completed in single years', 
    'Has electricity'   
]

In [69]:
dhs_indicators = dhs[col_of_interest].groupby('Cluster number').mean()
dhs_indicators.columns = [[
    'wealth_index',
    'education_completed_yrs', 
    'electricity_access'
]]

print('DHS Indicator Dimensions: {}'.format(dhs_indicators.shape))
dhs_indicators.head()

DHS Indicator Dimensions: (1249, 3)

                wealth_index education_completed_yrs electricity_access
Cluster number
1              -31881.608696                9.391304           0.913043
2               -2855.375000                9.708333           0.958333
3              -57647.047619                8.428571           0.857143
4              -54952.666667                6.714286           0.809524
5              -77819.160000                8.240000           0.920000

### Saving Processed DHS Indicators

In [70]:
dhs_indicators.to_csv(data_directory + 'ndhs/dhs_indicators.csv')

# Nightlights Dataset

### File Locations

In [74]:
ntl_folder = data_directory + 'nightlights/'

# output data file paths
ntl_unstacked_directory = ntl_folder + 'nightlights_unstacked.csv'
ntl_train_directory = ntl_folder + 'nightlights_train.csv'
ntl_train_bal_directory = ntl_folder + 'nightlights_train_bal.csv'
ntl_val_directory = ntl_folder + 'nightlights_val.csv'

### Loading the Dataset

PROBLEM: figure out how to derive DHSCLUST column

In [75]:
ntl = pd.read_csv('../data/nightlights/nightlights.csv')

# Ookla Internet Speed Dataset

In [ ]:
internet_directory = data_directory + 'internet/'

# OSM Dataset

In [79]:
osm_directory = data_directory + 'osm/'

buildings_data=  osm_directory + 'osm_buildings.csv'
pois_data = osm_directory + 'osm_pois.csv'
roads_data = osm_directory + 'osm_roads.csv'

In [80]:
buildings = pd.read_csv(buildings_data)
buildings.head()

,DHSCLUST,Building count,Building area sum,Building area mean,Building area proportion,Residential count,Residential area sum,Residential area proportion,Residential area mean,Damaged count,...,Commercial area prop,Commercial area mean,Education count,Education area sum,Education area proportion,Education area mean,Health count,Health area sum,Health area proportion,Health area mean
0,387,3436,2.847354e-05,8.286826e-09,0.027092,1,5.371464e-08,1.487421e-08,5.371464e-08,0,...,0.000000e+00,0.000000e+00,1,1.594179e-07,4.414469e-08,1.594179e-07,0,0.000000e+00,0.000000e+00,0.000000e+00
1,405,8783,1.013635e-04,1.154088e-08,0.096444,8143,8.172050e-05,8.852841e-06,1.003567e-08,0,...,2.637213e-07,5.179594e-08,39,1.393915e-06,1.510039e-07,3.574142e-08,1,4.029228e-08,4.364892e-09,4.029228e-08
2,416,8333,8.663698e-05,1.039685e-08,0.082432,242,1.228495e-06,1.402706e-07,5.076426e-09,0,...,7.746721e-09,3.392304e-08,0,0.000000e+00,0.000000e+00,0.000000e+00,1,4.758568e-08,5.433372e-09,4.758568e-08
3,419,133,9.566823e-07,7.193100e-09,0.000910,0,0.000000e+00,0.000000e+00,0.000000e+00,0,...,0.000000e+00,0.000000e+00,0,0.000000e+00,0.000000e+00,0.000000e+00,0,0.000000e+00,0.000000e+00,0.000000e+00
4,425,539,1.224745e-05,2.272254e-08,0.011653,75,9.110652e-07,1.608256e-06,1.214754e-08,0,...,3.458492e-07,9.796052e-08,26,7.545361e-07,1.331944e-06,2.902062e-08,1,2.212851e-07,3.906231e-07,2.212851e-07

In [81]:
pois = pd.read_csv(pois_data)
pois.head()

,DHSCLUST,Artwork count,Atm count,Attraction count,Bakery count,Bank count,Bar count,Beauty shop count,Bench count,Beverages count,...,Toy shop count,Track count,Travel agent count,University count,Veterinary count,Viewpoint count,Waste basket count,Water tower count,Water well count,Water works count
0,1,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [82]:
roads = pd.read_csv(roads_data)
roads

,DHSCLUST,Total number of roads,Number of trunk roads,Number of primary roads,Number of paved roads,Number of unpaved roads,Number of intersections,Total road length,Trunk road length,Primary road length,Paved road length,Unpaved road length,Distance from nearest trunk road,Distance from nearest primary road,Distance from nearest paved road,Distance from nearest unpaved road,Distance from nearest intersection
0,387,75.0,0.0,8.0,0.0,0.0,214.0,35998.294053,0.00000,6465.804737,0.000000,0.000000,2638.30820,362.13367,2768.40524,2141.41404,305.216539
1,405,236.0,5.0,7.0,4.0,4.0,910.0,78936.303752,3916.13220,1372.935795,1920.893698,1497.758312,441.11920,770.42729,678.45231,1187.10642,346.760245
2,416,232.0,3.0,5.0,12.0,9.0,734.0,58989.675296,3667.11807,3109.607152,3582.219627,3283.943806,796.88301,1006.57572,303.12610,262.15640,87.219103
3,419,3.0,0.0,0.0,0.0,0.0,2.0,2342.486894,0.00000,0.000000,0.000000,0.000000,2805.59284,5335.33189,4928.88054,3371.80565,1984.691275
4,425,319.0,9.0,4.0,86.0,75.0,960.0,66006.809989,4102.09410,2561.573553,30798.222983,9232.438428,1068.87759,1596.86532,274.48715,138.66098,140.469909
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1209,722,52.0,0.0,15.0,0.0,0.0,154.0,41690.559063,0.00000,13377.045051,0.000000,0.000000,54218.41902,23.19376,16283.84884,16466.45367,140.488457
1210,723,5.0,0.0,2.0,0.0,0.0,14.0,26921.096596,0.00000,9710.846365,0.000000,0.000000,44179.06072,2613.98131,9004.04806,7784.70088,2813.438406
1211,724,6.0,0.0,0.0,0.0,0.0,10.0,12164.220713,0.00000,0.000000,0.000000,0.000000,48923.48284,22699.02116,22981.00449,12038.52249,290.516935
1212,725,9.0,0.0,3.0,0.0,1.0,12.0,23486.477716,0.00000,18480.254081,0.000000,1179.521420,73953.73552,42.46336,24628.38100,4726.23224,1742.949960
1213,726,17.0,0.0,5.0,0.0,0.0,70.0,6274.498987,0.00000,3686.246798,0.000000,0.000000,76967.19968,4750.15442,14857.95595,14562.56758,4738.669912